@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .btn {
        @apply bg-indigo-600 text-white text-lg px-4 py-1 dark:bg-gray-400;
    }

    .cardbox {
        @apply w-96 shadow-lg box-border flex justify-center hover:scale-110 duration-300 p-2.5;
    }

}
